:root {
    --bg-color: #faf1e4;
    --main-color: #618c56;
    --sub-color: #c2b8aa;
    --sub-alt-color: #e7dccb;
    --text-color: #3c403b;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 16px;
}

button {
    border-radius: 8px;
    padding: 6px;
    background-color: var(--main-color);
    color: var(--bg-color);
}

button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

button:active {
    transform: scale(1.05, 1.05);
    background-color: var(--sub-color);
    color: var(--sub-alt-color);
}